MONGODB_URI="mongodb://localhost:27017"
MONGODB_DB_NAME="presentations"
MONGODB_COLLECTION="presentations"
SOKRATIC_USERNAME="your_email@example.com"
SOKRATIC_PASSWORD="your_password"
MAX_CONCURRENCY=5
PRESENTATIONS_DIR="./assets/presentations"
PRESENTATIONS_GENERATION_TIMEOUT_MS=600000
SITE_THROTTLE_DELAY_MS=10000
PLAYWRIGHT_DEFAULT_TIMEOUT_MS=30000
PLAYWRIGHT_HEADLESS=true
SAVE_SCREENSHOTS=true
SAVE_LOGS=false

S3_BUCKET="your-bucket-name"
S3_PREFIX=""
S3_REGION="us-east-1"
AWS_ACCESS_KEY_ID="your-access-key-id"
AWS_SECRET_ACCESS_KEY="your-secret-access-key"
#S3_ENDPOINT_URL="https://s3.amazonaws.com"
S3_VERIFY_SSL=true
